<!DOCTYPE html>
<html>
  <head>
    <title>Bussiness in Edtech</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bussiness in Edtech</h1>
    <p>Welcome to Bussiness in Edtech</p>
  </body>
</html>
