*{
  margin: 0;
  padding: 0;
}
body{
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(1,85,104,1) 100%);
  width: 100vw;
}
@tailwind base;
@tailwind components;
@tailwind utilities;